$text: #010304;
$background: #fbfdfe;
$primary: #0271b6;
$secondary: #bfe5fd;
$accent: #67dd94;

:export {
    textcolor: $text;
    backgroundcolor: $background;
    primarycolor: $primary;
    secondarycolor: $secondary;
    accentcolor: $accent;
}